.rideListHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  }
  
  .rideListHeader select {
    padding: 2px;
  }
  
  .sortBy select {
    margin-left: 4px;
  }
  
  .sortBy label {
    margin-left: 8px;
}