.ride {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.ride:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 1px 2px var(--primary-700);
  outline: 1px solid var(--primary-600);
}

.card.ride--selected {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 1px 2px var(--primary-500);
  outline: 3px solid var(--primary-400);
  cursor: pointer;
  
}

.rideHeader {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.statLabel {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--secondary-800);
  margin: 0;
}

.rideHeader h2 {
  margin: 0;
  line-height: 1.1;
}

.rideStats {
  flex: 2;
}

.rideStatsValues {
  margin: 0.5rem 0 0 0;
}

.sortByStat {
  color: var(--primary-500);
  flex: 1;
  text-align: right;
}

.sortByStatLabel {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--secondary-800);
  margin: 0;
}

.sortByStatValue {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin: 0;
}
