#root {
  min-width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  margin: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

footer p {
  text-align: center;
  margin: 0;
}
